#home .btn.btn-default.btn-lg {
    border-radius: 50px;
}
body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.image-container {
  background: url('your-background-image.jpg') center/cover no-repeat; /* Example background image */
  display: flex;
  align-items: center;
  justify-content: center;
}

.fit-image {
  width: 100%; /* Set the image width to 100% of its container */
  height: 100%; /* Set the image height to 100% of its container */
  object-fit: cover; /* Apply the same rules as the background-image */
  display: block; /* Remove extra space below the image */
}

#zoom-container {
  width: 100%;
  height: 100vh; /* Set the height to 100% of the viewport height */
  color: #000000;
  align-items: center;
  justify-content: center;
  overflow: hidden
}

.fade-out {
  opacity: 1;
  transition: opacity 1s ease-out; /* Adjust the duration and timing function as needed */
}
.faded {
    opacity: 0;
    transition: opacity 3s ease-in; /* Adjust the duration and timing function as needed */
}

#zoom-image {
  transition: transform 4.0s cubic-bezier(0.9, 0.01, 0.9, 0.0001); /* cubic-bezier(0.55, 0.055, 0.675, 0.19) */
}
.zoom-image-clicked {
  transform: scale(50); /* Adjust the scale factor as needed */
}

.overlay-container {
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.overlay-div1,
.overlay-div2 {
    position: absolute;
}

.overlay-div1 {
    /* background-color: rgba(255, 0, 0, 0.5); /* Red with 50% opacity */
    /* Other styles for the first overlay div */
}

.overlay-div2 {
  width: 100%; /* Set the image width to 100% of its container */
  align-items: center;
  justify-content: center;
    /* background-color: rgba(0, 0, 255, 0.5); /* Blue with 50% opacity */
    /* Other styles for the second overlay div */
}

#bubbleview, #nodeview {
    display: none;
    position: absolute;
    top: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
}
#bubblechart, #nodechart {
    width: 100%;
    height: 100%;
}
.tm-icons {
    display: none;
}
#nodechart {
}

.hamburger-container {
    position: fixed;
    top: 10px; /* Adjust the top distance as needed */
    right: 10px; /* Adjust the right distance as needed */
    z-index: 11;
}

.hamburger-icon {
    width: 30px; /* Adjust the width as needed */
    height: 3px;
    background-color: #a8c82f; /* Change the color as needed */
    margin: 6px 0;
    transition: 0.4s;
}

/* Add styles for the icon's hover or active state if needed */
.hamburger-icon:hover {
    background-color: yellow; /* Change the hover color as needed */
}

#login {
    display: none;
    position: absolute;
    top: 0;
    z-index: 1100;
    height: 100vh;
    width: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.25);
}

.full-screen-element {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}
.full-screen-message {
    display: none;
    font-size: 5vh;
}